In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url='https://steamcharts.com/app/361280'

In [3]:
html = requests.get(url)
soup = BeautifulSoup(html.content, 'html.parser')

In [ ]:
soup

In [27]:
table=soup.find('table',class_='common-table')

In [ ]:
table

In [30]:
month=table.findAll('td',class_='month-cell left')

In [ ]:
month

In [120]:
month_list=[i.text.replace('\n','').replace('\t','').replace("2020","").replace(" ","") for i in month]

In [ ]:
month_list

In [121]:
nplayers=table.findAll('td',class_='right num-f')

In [ ]:
nplayers

In [122]:
nplayers_list=[i.text for i in nplayers]

In [ ]:
nplayers_list

In [123]:
df=pd.DataFrame([month_list,nplayers_list]).T.head(24).tail(12)

In [113]:
df

             0       1
12   December   229.12
13   November   259.12
14    October   422.06
15  September   509.36
16     August   304.32
17       July   368.49
18       June   313.53
19        May   390.90
20      April   549.40
21      March   472.51
22   February   878.94
23    January   134.94

In [114]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [124]:
df.rename(columns={0: 'Month', 1: 'Average Players'}, inplace=True)

In [125]:
df2=df.iloc[::-1]

In [126]:
df2

        Month Average Players
23    January          134.94
22   February          878.94
21      March          472.51
20      April          549.40
19        May          390.90
18       June          313.53
17       July          368.49
16     August          304.32
15  September          509.36
14    October          422.06
13   November          259.12
12   December          229.12

In [127]:
df2.to_csv('turmoilplayers.csv')